

.header-label {
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 14;
    -fx-text-fill: -mfx-text-he;
}

.header-label .text {
    -fx-font-smoothing-type: lcd;
}

.sub-header-label {
    -fx-font-family: 'Open Sans SemiBold';
    -fx-text-fill: -mfx-text-he;
}

.sub-header-label .text {
    -fx-font-smoothing-type: lcd;
}

.grid-pane {
    -fx-background-color: transparent;
}

.grid-background {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}

Button {
    -fx-background-color:  #7ac143;
}
Button:hover {
    -fx-background-color: #78bc27;
}
.circle-button {
    -fx-background-color: inherit; /* Button background color */
    -fx-text-fill: white;          /* Button text color */
    -fx-border-color:white;
    -fx-padding: 0; /* Remove default padding */
    -fx-shape: "M100,50a50,50 0 1,1 0.1,0z"; /* Circular shape */
}
.circle-button:hover {
    -fx-border-color:#111;
    -fx-text-fill: #111;
}

.topButtons:hover {
    -fx-background-color: #78bc27;
}

.circle-button:hover .icon {
    -fx-fill:#111;;
}

.bg {
    -fx-background-color: #E9F7E9;
}



